<div class="col-12 col-xl-8 col-lg-8 col-md-7 mt-5">
  <!-- Necesita --> 
  <h1 class="text-center"> Seleccione los valores </h1>
  <div class="row justify-content-around">
    <!-- Columna Humedad -->
    <div class="col-5">
      <h3 for="customRange1" class="form-label" >Humedad: <span id = "Humedad_Ran">50</span></h3>
      <div> 
        <input type="range" class="form-range w-100"  min="0" max="100" step="5" id="slider"  onclick="changeImage()">
      </div>
    </div>
    <!-- Columna Temperatura -->
    <div class="col-5">
      <h3 for="customRange2" class="form-label" >Temperatura: <span id = "Temperatura_Ran">50</span></h3>
      <div> 
        <input type="range" class="form-range w-100"  min="0" max="100" step="5" id="slider2"  onclick="changeImage2()">
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Humedad
    var Humedad_Ran = document.getElementById("Humedad_Ran");
    function changeImage() {
      var customRange1 = document.getElementById("slider");
      var enteredText = customRange1.value;
      Humedad_Ran.innerText = enteredText;
    }
    $(document).ready(function() {
      // Obtener el valor del slider
      var slider = $("#slider");
      var value = slider.val();
        
      // Mostrar el valor del slider
      $("#value").text(value);       
        // Vincular el evento `change` del slider
        slider.change(function() {
          // Obtener el nuevo valor del slider
          value = slider.val();
        
          // Publicar el valor del slider en MQTT
          $.post("/slider", {
            value: value
          });
        });
      });
    // Temperatura
    var Temperatura_Ran = document.getElementById("Temperatura_Ran");
    function changeImage2() {
      var customRange2 = document.getElementById("slider2");
      var enteredText2 = customRange2.value;
      Temperatura_Ran.innerText = enteredText2;
    }

     $(document).ready(function() {
      // Obtener el valor del slider
      var slider = $("#slider2");
      var value = slider.val();
        
      // Mostrar el valor del slider
      $("#value2").text(value);       
        // Vincular el evento `change` del slider
        slider.change(function() {
          // Obtener el nuevo valor del slider
          value = slider.val();
        
          // Publicar el valor del slider en MQTT
          $.post("/slider2", {
            value: value
          });
        });
      });
  </script>
  <!-- Tienes -->
  <div class="col-12 mt-4">
    <div>
      <h1 class="text-center">Medidas</h1>
        <div class="row justify-content-around">
          <div class="col-5">
            <h3> Humedad: {{humedad}}%   </h3>
          </div>
          <div class="col-5">
            <h3> Temperatura: {{Temperatura}}°C </h3> 
          </div>
        </div>
    </div>
  </div>
</div>   
