<footer class="mt-5 text-white" style="background-color: #0f5132">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">El proyecto</h5>
        <p> <!---->
          El proyecto es un Invernadero en miniatura, fue diseñado para tenerlo en la casa. 
          Este funciona gracias a unos sensores que permiten crear las condiciones aceptables, 
          este tiene un ventilador que hace circular el aire.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Programas usados</h5>
        <ul class="list-unstyled mb-0">
          <li> <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a> </li>
          <li> <a href="https://flask.palletsprojects.com/en/2.3.x/" class="text-white">Flask</a> </li>
          <li> <a href="#!" class="text-white">MQTT</a> </li>
          <li> <a href="#!" class="text-white">Python / html / css</a> </li>
        </ul>
      </div>
    <!--Grid column-->
    </div>
  </div>    
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://i.kym-cdn.com/entries/icons/facebook/000/034/421/cover1.jpg">Mini-invernaculo.com</a>
  </div>
</footer>