<!-- https://stackoverflow.com/questions/22858872/changing-image-with-dropdown-menu -->

<div class="col-12 col-xl-4 col-lg-4 col-md-5">
  <!--Selector de verduras  -->
  <div class="dropdown text-center">
    <select id="Verdura"  onchange="showDescrption()" class="btn btn-secondary dropdown-toggle mt-3">
      <option value=""> --Seleccionar una verdura-- </option>
      <!-- Otoño  -->
      <option value="Lechuga">Lechuga</option>
      <option value="Ajo">Ajo</option>
      <!-- Primavera  -->
      <option value="Papa">Papa</option>
      <option value="Morron">Morrón</option>
      <!-- Verano  -->
      <option value="Repollo">Repollo</option>
      <option value="Remolacha">Remolacha</option>
      <!-- Invierno  -->
      <option value="Espinaca">Espinaca</option>
      <option value="Acelga">Acelga</option>
      <!-- Otro  -->
      <option value="Zanaoria">Zanaoria</option>
      
    </select>
    <div>
      <div class="card mx-auto justify-content-center" style="width: 18rem;">
        <img id="preview" class="card-img-top" alt="..." height="200px">    
        <div class="card-body">
          <h5 class="card-title">Descripción</h5>
          <p id="descripcion">Al elegir algo se mostrara la descripcion</p>
        </div>
      </div>
  </div>

  <!-- HTML que contiene /  La Imagen con descripcion  -->

  <!--                 Descripciones                      -->
  <script> 
    function showDescrption(){
      var Verdura = document.getElementById("Verdura").value;
      var descripcion = "";
      var preview = "";
      
      switch (Verdura){
        case "Lechuga":
          preview = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJJDgllVm8pu7ap5-3X3Ywan356ZDDs6IQ9Q&usqp=CAU";
          descripcion = "La temperatura media entre 15°C a los 20°C, La humedad relativa es del 60% al 80%";
          break;
        case "Ajo":
          preview = "https://fagro.mx/img/cultivos/ajo.png"
          descripcion = "La temperatura media entre 13°C a los 24°C, La humedad relativa es del 60% a 70% ";
          break;
        case "Papa":
          preview = "https://elcomercio.pe/resizer/hty6NbG9qe9kPobUETF5V8EMNfs=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/6RY2RVYXSRHTLD4ZX2FZHNZZOA.jpg";
          descripcion = "La papa es considerada una planta termoperiódica, es decir, necesita una variación de las temperaturas entre el día y la noche. Dicha variación debe ser entre 10 a 25 ºC en el aire. La temperatura del suelo adecuada para el desarrollo de tubérculos debe ser de 10 a 16 ºC durante la noche y de 16 a 22 ºC en el día.";
          break;
        case "Morron":
          preview = "https://cdn.shopify.com/s/files/1/0372/2854/4131/products/morron.jpg?v=1585713207"
          descripcion = "La temperatura media entre 20°C a los 25°C, La humedad relativa es del 50% a 70% ";
          break;
        case "Repollo":
          preview = "https://comerbeber.com/archivos/imagen/2023/01/repollo-redondo-cv_1200.jpg"
          descripcion = "La temperatura media entre 15°C a los 20°C, La humedad relativa es del 60% a 80% ";
          break;
        case "Remolacha":
          preview = "https://imag.bonviveur.com/la-remolacha-roja-es-la-de-consumo.jpg"
          descripcion = "La temperatura media entre 0°C a los 4°C, La humedad relativa es del 90% a 95%";
          break;          
        case "Espinaca":
          preview = "https://statics-cuidateplus.marca.com/cms/styles/amp_1200x675_16_9/azblob/manojo-espinacas.jpg.webp?itok=M2RjGHun"
          descripcion = "La temperatura media entre 15°C a los 18°C, La humedad relativa es del 95% a 98%";
          break;
        case "Acelga":
          preview = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNnS83pDK8GvisLV2J0IDDPILS0Fd76M3riA&usqp=CAU"
          descripcion = "La temperatura media entre 15°C a los 25°C.,La humedad relativa es del 60% a 90%";
          break;
        case "Zanaoria":
          preview = "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Carotts_%28Daucus_Carotta%29.jpg/220px-Carotts_%28Daucus_Carotta%29.jpg"
          descripcion = "La temperatura media entre 9°C a los 28°C. , La humedad relativa es del 70% a 80%.";
          break;
        default:
          preview ="https://www.elmueble.com/medio/2019/03/25/monstera_f97f4746_800x800.jpg";
          descripcion ="Al elegir algo se mostrara la descripcion";
          break;
      }
      document.getElementById("descripcion").innerHTML = descripcion;
      document.getElementById("preview").src = preview;
    }
  </script>
  </div>
</div>


 

